body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../images/black_thread.png");
  background-position: center;
  background-repeat: repeat;
}

h1,
h2 {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: bold;
}

h1 {
  color: #4aaaa5;
}

.navbar-brand {
  background-color: #4aaaa5;
  padding: 10px;
}

#myName {
  color: #ffffff;
}

.short-text {
  display: none;
}

@media (max-width: 387px) {
  .short-text {
    display: inline-block;
  }
  .full-text {
    display: none;
  }
}

#myFace {
  max-width: 150px;
  float: left;
  padding-right: 20px;
}

.btn-teal {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  border-radius: 0;
  color: white;
}

.pfpic {
  padding: 10px;
  max-width: 250px;
  max-height: 250px;
}

article {
  background-color: white;
  margin: 40px;
  padding: 20px;
  padding-left: 20px;
}

p {
  padding: 20px;
}

footer {
  background-color: #666666;
  color: #777777;

  border-top: 5px solid #4aaaa5;
}
